networks:
  default:
    driver: bridge

volumes:
  images:
  logs:

services:
  app:
    container_name: app
    build: ./app
    ports:
      - "8000:8000"
    volumes:
      - images:/app/images
      - logs:/app/logs
    networks:
      - default

  nginx:
    container_name: nginx
    command:
      - nginx -g "daemon off;"
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./app/index.html:/usr/share/nginx/html/index.html
      - images:/images
    networks:
      - default

    depends_on:
      - app
